.div_verde {
    border-radius: 20px;
    background-color: #91C470;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    h3 {
      font-size: 30px;
    }
  }